.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--bg-color2);
}

.footer_logo {
  display: block;
  margin-bottom: 16px;
}

.footer_info-box {
  width: 264px;
}

.footer_paragraf {
  color: #e7e9fc;
}
