.projects_list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

  li {
  }
}

.projects_link {
  color: var(--text-color1);
}

.projects_text-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0px;
}

.projects_title {
  margin-bottom: 8px;

  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
}

.projects_paragrad {
  color: var(--text-color2);
}
